<launch>
    
    <node name="rov_planning" pkg = "rov_planning" type = "rov_planning_node" output = "screen"></node>
	<!--<node name="ultrasonic_sensor" pkg="ultrasonic_sensor" type="ultrasonic_sensor_node" output="screen" />-->
	<node pkg="location" type="location_node" name="location" output="screen">    </node>
    <param name="g_surface_depth" value="3.0" type="double"/>
    <param name="g_bottom_offset" value="10.0" type="double"/>
    <param name="g_front_pitch_fix" value="100.0" type="double"/>
    <param name="g_rear_pitch_fix" value="100.0" type="double"/>
    <param name="leakage_input_io" value="12" type="int"/>
    
	<param name="pid_switch" value="false" type="bool"/>
	
	<param name="roll_pid_kp" value="5" type="double"/>
	<param name="roll_pid_kd" value="0.5" type="double"/>
	<param name="roll_pid_gradient" value="3" type="double"/>
	<param name="roll_start_offset" value="30" type="double"/>
    <param name="roll_stop_offset" value="1" type="double"/>
	
	<param name="pitch_pid_kp" value="5" type="double"/>
	<param name="pitch_pid_kd" value="0.5" type="double"/>
	<param name="pitch_pid_gradient" value="3" type="double"/>
	<param name="pitch_start_offset" value="3" type="double"/>
    <param name="pitch_stop_offset" value="1" type="double"/>
	
	<param name="yaw_pid_kp" value="8" type="double"/>
	<param name="yaw_pid_kd" value="0.5" type="double"/>
	<param name="yaw_pid_gradient" value="5" type="double"/>
	<param name="yaw_start_offset" value="5" type="double"/>
    <param name="yaw_stop_offset" value="1" type="double"/>
	
	<param name="depth_pid_kp" value="500" type="double"/>
	<param name="depth_pid_kd" value="0.5" type="double"/>
	<param name="depth_pid_gradient" value="0.1" type="double"/>
	<param name="depth_start_offset" value="0.1" type="double"/>
    <param name="depth_stop_offset" value="0.1" type="double"/>
</launch>

